*{
    margin: 0;
    padding: 0;
}
    /*Styling for card*/
.card{
    box-shadow: 0 4px 8px 0 rgb(45, 48, 45);
    max-width: 200px;
    margin: auto;
}
.card-body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card-title{
    font-size: 1.2rem;
}
.card-type{
    color: grey;
}
.card-text{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}